h1 {
    text-align: center;
}

body {
    background-color: rgb(164, 217, 255);
}

.main {
    /* Set the width and center it */
    width: 960px;
    margin: auto;
}

#b737 {
    z-index: 0;
    float: left;
}